@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap');
@import './breakpoints.scss';
@import './palettes.scss';
@import './reset.scss';

@keyframes opacity {
  from {
      opacity: 0;
      visibility: hidden;
  }

  to {
      opacity: 1;
      visibility: visible;
  } 
}

html, body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;  
  animation: opacity 250ms forwards;
}

.flex-fill {
  flex: 1 !important
} 

a {
  text-decoration: initial !important;
}