$color-palettes: (
    primary: (
        yellow-50: #FCF9EA,
        yellow-100: #F8F2C9,
        yellow-200: #F2E496,
        yellow-300: #EBCF59,
        yellow-400: #E2B524,
        yellow-500: #D3A11F,
        yellow-600: #B67D18,
        yellow-700: #925B16,
        yellow-800: #79491A,
        yellow-900: #673D1C,
        yellow-950: #3C1F0C,
    ),
    secondary: (
        blue-50: #EEF4FF,
        blue-100: #E0EAFF,
        blue-200: #C7D8FE,
        blue-300: #A5BDFC,
        blue-400: #8199F8,
        blue-500: #6375F1,
        blue-600: #464EE5,
        blue-700: #383CCA,
        blue-800: #3035A3,
        blue-900: #2E3481,
        blue-950: #0D0E24,
    ),
    tertiary: (
        purple-50: #FDF6FD,
        purple-100: #F9EDFA,
        purple-200: #F4D9F5,
        purple-300: #ECBBEB,
        purple-400: #DF93DA,
        purple-500: #CD68C7,
        purple-600: #A846A0,
        purple-700: #913A88,
        purple-800: #77316F,
        purple-900: #622D5A,
        purple-950: #3F1339,  
        purple-1000: #191B41,      
        purple-1050: rgba(16, 16, 27, .3),      
    ),
    quartenary: (
        pink-50: #FFF0F2,
        pink-100: #FFE2E7,
        pink-200: #FFCAD5,
        pink-300: #FF9FB3,
        pink-400: #FF698B,
        pink-500: #FF3366,
        pink-600: #ED1152,
        pink-700: #C80846,
        pink-800: #A80942,
        pink-900: #8F0C3E,
        pink-950: #50011D,              
    ),
    quinary: (
        green-50: #E9FFF7,
        green-100: #CAFFEA,
        green-200: #99FFDB,
        green-300: #7AFDD6,
        green-400: #18EFB6,
        green-500: #00D7A0,
        green-600: #00B084,
        green-700: #008D6E,
        green-800: #006F58,
        green-900: #005B4A,
        green-950: #00332B,         
    ),
    helper: (
        white: #FCFCFC,
        black: #292929,
        gray-50: #FCFCFC,
        gray-100: #EFEFEF,
        gray-200: #DCDCDC,
        gray-300: #BDBDBD,
        gray-400: #989898,
        gray-500: #7C7C7C,
        gray-600: #656565,
        gray-700: #525252,
        gray-800: #464646,
        gray-900: #3D3D3D,
        gray-950: #292929,
        gray-1000: #3D3D46,
    ),
    system: (
        error: (
            red-50: #FFF1F1,
            red-100: #FFDFDF,
            red-200: #FFC5C5,
            red-300: #FF9D9D,
            red-400: #FF6464,
            red-500: #FF3838,
            red-600: #ED1515,
            red-700: #C80D0D,
            red-800: #A50F0F,
            red-900: #881414,
            red-950: #881414,
        ),
        alert: (
            yellow-50: #FEFDE8,
            yellow-100: #FEFCC3,
            yellow-200: #FDF68B,
            yellow-300: #FCE83A,
            yellow-400: #F9D816,
            yellow-500: #E9BF09,
            yellow-600: #C99505,
            yellow-700: #A06B08,
            yellow-800: #84540F,
            yellow-900: #714412,
            yellow-950: #422306,
        ),
        success: (
            green-50: #F1FFE4,
            green-100: #E0FFC5,
            green-200: #C1FF92,
            green-300: #99FF53,
            green-400: #72FB20,
            green-500: #56F000,
            green-600: #3BB500,
            green-700: #2E8902,
            green-800: #276C08,
            green-900: #245B0C,
            green-950: #0D3300,
        ),
        info: (
            blue-50: #EFFAFF,
            blue-100: #DFF4FF,
            blue-200: #B8ECFF,
            blue-300: #78DEFF,
            blue-400: #2DCCFF,
            blue-500: #06B7F1,
            blue-600: #0093CE,
            blue-700: #0076A7,
            blue-800: #02638A,
            blue-900: #085272,
            blue-950: #06334B,
        )
    )
);
